.carousel-alunos {
  margin-bottom: 56px;
}
.alunos {
  .aluno {
    border-bottom: 2px solid $red;
    padding-bottom: 30px;
    .foto-aluno {
      background: 50% 50% no-repeat;
      background-size: contain;
    }
    .info-aluno {
      text-align: center;
      .nome {
        color: $red;
        font-size: 24px;
        font-weight: bold;
      }
      .curso {
        max-width: 280px;
        font-size: 16px;
        margin: 0 auto;
      }
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      border-bottom: none;
      padding-bottom: unset;
    }
  }
}
.alunos:last-child {
  .aluno {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: -55px;
  }
}
.wrapper-alunos {
  padding-bottom: 0px;
  #tns2-mw {
    max-width: 85%;
    margin: 0 auto;
  }
  .tns-controls {
    display: flex;
    justify-content: space-between;
    padding: 0 0px;
    position: relative;
    top: -75px;
    button {
      color: white;
      background: $blue;
      font-size: 18px;
      border-radius: 50%;
      border: 0;
      width: 35px;
      height: 35px;
    }
  }
  .tns-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 55px;
    padding: 0 25px;
    button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid $red;
      background-color: none;
    }

    .tns-nav-active {
      background: $red;
    }
  }

  .nav {
    margin: 60px 0;
    justify-content: center;
    border-bottom: 0;
    .nav-item {
      margin: 0 15px;
      &:nth-child(1) {
        margin-left: 0;
      }
      &:nth-last-child(1) {
        margin-right: 0;
      }
      .nav-link {
        background: $red;
        border: 0;
        border-radius: 5px;
        color: white;
        text-transform: capitalize;
        transition: all ease 0.3s;
        &.active,
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .cta-alunos {
    position: relative;
    top: -30px;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-bottom: 101px;
    .tns-controls {
      padding: 0;
      top: -250px;
    }
  }
  .carregar-mais {
    margin-top: 125px;
  }
}
.cta-alunos {
  background: $red;
  margin: 0 auto;
  width: 200px;
}
.barradenavegacao {
  ul {
    padding: 0;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      padding: 0 10px;

      a {
        color: red;
      }
    }
  }
}
