.wrapper-eventos-home {
  .evento-home-mobile {
    .infos {
      padding: 35px 21px;
      background: $red;
      color: white;
      text-align: center;
      h2 {
        font-weight: bold;
        font-size: 24px;
        margin-top: 7px;
      }
      a {
        border: 2px solid white;
        border-radius: 3px;
        padding: 5px 26px 9px;
        font-weight: bold;
      }
      p,
      a {
        color: white;
        &:hover {
          color: white;
        }
      }
    }
  }

  .imagem-destaque {
    max-height: 223px;
    overflow: hidden;
  }
  .evento-home-desk {
    .item {
      .img-galeria {
        height: 196px;
      }
      .informacoes {
        padding: 35px;
        background: $red;
        color: white;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: start;
        h2 {
          font-weight: bold;
          font-size: 24px;
          margin-top: 7px;
        }
        a {
          border: 2px solid white;
          border-radius: 3px;
          padding: 5px 26px 9px;
          font-weight: bold;
          display: inline-block;
        }
        p,
        a {
          color: white;
          &:hover {
            color: white;
          }
        }
      }
      .galeria {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    #tns3-mw {
      max-width: 85%;
      margin: 0 auto;
    }
    .tns-controls {
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      position: relative;
      top: -140px;
      width: 115%;
      right: 85px;
      button {
        background-color: white;
        color: $blue;
        font-size: 18px;
        border-radius: 50%;
        border: 0;
        width: 35px;
        height: 35px;
      }
    }
  }
}
.busca-evento {
  padding: 50px 15px;
  .input-group {
    max-width: 840px;
    margin: 0 auto;
    align-items: center;
    border: 3px solid $blue;
    border-radius: 6px;
    .buscador {
      border: 0;
    }
    .input-group-text {
      border: 0;
      background: white;
    }
  }
  @media (min-width: map-get($grid-breakpoints,lg)) {
    padding: 35px 0;
    .input-group {
      margin-bottom: 0;
    }
  }
}
.wrapper-eventos {
  background: $blue;
  .wrapper-eventos-home {
    .evento-home-mobile {
      .row-lg {
        @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
          display: flex;
          flex-wrap: wrap;
          margin-left: -15px;
          margin-right: -15px;
        }
      }
      .infos {
        color: white;
        background: transparent;
        @media (min-width: map-get($grid-breakpoints,lg)) {
          background: $red;
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
    }
  }

  .tns-nav {
    display: none;
    // justify-content: center;
    // margin-top: 35px;
    // margin-bottom: 60px;
    button {
      width: 10px;
      height: 10px;
      border: 0;
      border-radius: 50%;
      margin: 3px;
      background-color: white;
      opacity: 0.7;
      padding: 0;
      &:nth-child(1) {
        margin-left: 0;
      }
      &:nth-last-child(1) {
        margin-right: 0;
      }
      &.tns-nav-active {
        opacity: 1;
      }
    }
  }
  .tns-controls {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    top: -140px;
    button {
      background-color: white;
      color: $red;
      font-size: 18px;
      border-radius: 50%;
      border: 0;
      width: 35px;
      height: 35px;
    }
  }
  @media (min-width: map-get($grid-breakpoints,lg)) {
    padding: 100px 0 !important;

    #tns1-mw {
      max-width: 85%;
      margin: 0 auto;
    }
  }
}
.resultado {
  color: $blue;
  text-align: center;
  font-size: 24px;
}
.carregar-mais {
  margin-top: 30px;
  text-align: center;
  button {
    border: 0;
    border-radius: 3px;
    background: $red;
    color: white;
    padding: 5px 30px;
  }
}
.list-eventos {
  margin-top: 30px;
  .evento-listado {
    margin: 6px 0;
  }
  @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
    margin-top: 30px;
    .evento-listado {
      margin: 50px 0;
      .infos {
        text-align: left;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        h2 {
          margin-top: 27px;
          margin-bottom: 27px;
        }
      }
    }
  }
}
.single-evento {
  .cabecalho {
    text-align: center;
    padding: 42px;
    color: $red;
  }
  .conteudo {
    padding: 50px 40px 60px;
  }
  .galeria {
    @media (min-width: map-get($grid-breakpoints,lg)) {
      margin-bottom: 100px;
      .carosel-galeria {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .tns-nav {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 60px;
    button {
      width: 10px;
      height: 10px;
      border: 0;
      border-radius: 50%;
      margin: 3px;
      background-color: #9d9d9d;
      opacity: 0.7;
      padding: 0;
      &:nth-child(1) {
        margin-left: 0;
      }
      &:nth-last-child(1) {
        margin-right: 0;
      }
      &.tns-nav-active {
        opacity: 1;
      }
    }
  }
  #tns2-mw {
    max-width: 1024px;
    margin: 0 auto;
  }
  .tns-controls {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    top: -140px;
    button {
      background-color: $blue;
      color: white;
      font-size: 18px;
      border-radius: 50%;
      border: 0;
      width: 35px;
      height: 35px;
    }
  }
  .wrapper-eventos-home {
    background: #f0f0f0;
    padding-top: 76px;
    padding-bottom: 47px;
  }
}
.item-slide {
  .img-destaque {
    max-height: 471px;
    overflow: hidden;
  }
}
