footer {
  position: relative;
  .padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .map-sm {
    background: url("../../dist/img/map.png") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    @media (min-width: map-get($grid-breakpoints, md)) {
      background: url("../../dist/img/map-lg.png") center center no-repeat;
    }
  }

  .form {
    padding-top: 39px;
    padding-bottom: 39px;
    span {
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: $brown;
    }
    .line {
      margin-top: 20px;
      margin-bottom: 37px;
      height: 0px;
      border: 1px solid $red;
    }
    .wpcf7-form {
      .wpcf7-not-valid-tip {
        color: $red;
        position: relative;
        top: -15px;
      }

      p {
        margin-bottom: 0;
        br {
          display: none;
        }
      }
    }

    label {
      display: block;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: $brown;
    }

    input[type="text"] {
      height: 46px;
    }

    textarea {
      height: 162px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      border-radius: 4px;
      background: #f0f0f0;
      padding: 14px 22px;
      border: none;
      outline: none;
      margin-bottom: 16px;
    }

    input[type="submit"] {
      height: 33px;
      border-radius: 3px;
      background: $red;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: $white;
      border: none;
      display: block;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 40px;
    background: #f0f0f0;
    .sub {
      // font-family: "Open Sans";
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #0d0d0d;
      margin-bottom: 47px;
    }

    .fale-conosco {
      text-align: center;
      .title {
        font-weight: bold;
        font-size: 24px;
        color: $red;
        padding-bottom: 8px;
      }
      span,
      a {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $brown;
      }
      .tel-email {
        padding-top: 11px;
        padding-bottom: 47px;
        text-align: left;
        margin: 0 auto;
        i {
          margin-right: 10px;
        }
        .telefones {
          display: flex;
          a {
            display: flex;
          }
          .mini {
            font-size: 12px !important;
            padding-right: 5px;
            line-height: 15px !important;
            align-self: center;
          }
        }
      }
      .box-area-aluno {
        .btn-login {
          margin-top: 10px !important;
          margin: 0 auto;
          justify-content: center;
          span {
            color: white;
          }
        }
      }
    }

    .midias {
      padding-top: 42px;
      padding-bottom: 47px;
      justify-content: center;
      margin: 0 auto;
      display: flex;
      a {
        font-size: 26px;
        color: black;
        padding: 7px;
      }
    }

    .direitos-humann {
      span {
        font-weight: normal;
        font-size: 11px;
        line-height: 16.5px;
        text-align: center;
        color: #0d0d0d;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .padding-0 {
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
    .sub {
      font-size: 14px !important;
      text-align: left !important;
    }
    .mapa-lg {
      width: 47%;
      position: absolute;
      right: 0;
      top: 60px;
      background: url("../../dist/img/map-lg.png") center center no-repeat;
      background-size: cover;
      height: 600px;
    }
    .testa {
      text-align: left;
      .title {
        font-size: 40px;
        line-height: 43px;
      }
    }
    .form {
      padding-top: 20px;
      padding-bottom: 100px;
      span {
        font-size: 16px;
        line-height: 24px;
      }
      input[type="submit"] {
        margin: unset;
      }
      .wpcf7-response-output {
        max-width: 74%;
      }
    }
    .line {
      margin-bottom: 20px !important;
    }
    .fale-conosco {
      span {
        text-align: left !important;
      }
    }
    .btn-login,
    .midias {
      margin: unset !important;
    }
    .midias {
      a {
        font-size: 22px !important;
      }
    }
    .direitos-humann {
      display: flex;
      justify-content: space-between;
    }
  }
}
