.invisivel {
  height: 45px;
}

.scrolled {
  .pre-header {
    display: none !important;
  }

  .bh-lg {
    top: 0 !important;
  }
}

header {
  position: relative;
  .pre-header {
    height: 45px;
    background: $red;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 20;
    width: 100%;
    top: 0;
    .container,
    a {
      display: flex;
      align-items: center;
      color: $white;
    }
    i {
      margin-right: 10px;
    }
    .mini {
      font-size: 12px;
      position: relative;
      top: 2px;
      margin-right: 5px;
    }
    .email-link {
      margin-left: 30px;
    }

    .fa-facebook-f {
      margin-left: 30px;
    }
    .container {
      position: relative;
    }
    .box-btn-header {
      position: absolute;
      right: 40px;
      justify-content: space-around;
    }
  }

  .bh-lg {
    background: white !important;
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 50;
  }
  .header {
    height: 100px;
    background: url("../../dist/img/banner-menu.png") center center no-repeat;
    .container {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      img {
        height: 70px;
      }
      .links {
        position: absolute;
        right: 40px;
        a {
          padding: 10px;
          font-weight: bold;
          font-size: 16px;
          line-height: 28.8px;
          text-align: left;
          color: $red;
        }
        a:hover {
          color: $blue;
        }
      }
    }
  }
}

.ativo {
  height: 100vh !important;
  align-items: baseline !important;
  position: relative;
  background: url("../../dist/img/textura-menu-mob.jpg") center center no-repeat;
  background-size: cover;

  .box-btn-header {
    display: none !important;
  }
  .box-btn-header-2 {
    display: flex !important;
  }

  .box-midias {
    display: flex !important;
    justify-content: space-between;
    position: relative;
    top: -16px;
    a {
      font-size: 26px;
      color: $white;
    }
  }

  .menu-icon {
    .navicon {
      &:before,
      &:after {
        background: white !important;
      }
    }
  }
  .menu {
    position: absolute;
    top: 150px;
    max-height: 100% !important;
  }
}

.top-nav {
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  background: $red;
  height: 56.35px;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: top 0.75s ease-in-out;
  overflow: hidden;
  .box-midias {
    display: none;
  }

  .menu {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-height: 0;
    transition: max-height 0s ease-in-out;
    padding-left: 10px;

    a {
      font-weight: bold;
      font-size: 31px;
      line-height: 41px;
      text-align: left;
      color: #fff;
      border-bottom: 2px solid $white;
      padding: 20px 0 15px 0;
    }
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 25px 10px;
    margin-bottom: 0;

    .navicon {
      background: white;
      display: block;
      height: 2px;
      position: relative;
      width: 1.625rem;

      &:before,
      &:after {
        background: white;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 7px;
      }

      &:after {
        top: -7px;
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 300px;
    }

    &:checked ~ .menu-icon .navicon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    &:checked ~ .menu-icon:not(.steps) .navicon {
      &:before,
      &:after {
        top: 0;
      }
    }
  }
}

.box-btn-header,
.box-btn-header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    border-bottom: none !important;
  }
  .area-aluno,
  .btn-login {
    display: flex;
    align-items: center;
  }

  .area-aluno {
    align-items: flex-end !important;
    img {
      margin-right: 15px;
      // position: relative;
      // top: -3px;
    }
    span {
      font-weight: bold;
      font-size: 15px !important;
      line-height: 18px !important;
      color: $white;
    }
  }
}

.box-btn-header-2 {
  position: absolute;
  bottom: 15px;
  display: none;
}

.banner-home {
  .shadow {
    position: relative;
    z-index: 5;
  }
  .page-name {
    display: none !important;
  }
}

.banner {
  .shadow {
    padding: 20px 0;
    display: block;

    img {
      display: block;
      margin: 0 auto;
    }
  }
  .page-name {
    padding: 40px;
    padding-bottom: 20px !important;
    border-bottom: 3px solid $red;

    .title {
      font-weight: bold;
      font-size: 37px !important;
      line-height: 45px !important;
      text-align: center;
      color: $red;
      @media (min-width: map-get($grid-breakpoints, lg)) {
        font-size: 45px;
        line-height: 50px;
      }
    }
  }
}

// DESKTOP MENU CSS
@media (min-width: 840px) {
  .top-nav li {
    margin: 0 10px;
  }
  .top-nav .menu {
    width: auto;
    max-height: none;
    flex-direction: row;
  }
  .top-nav .menu-icon {
    display: none;
  }
}
