.banner-home-meson {
  .wrapper {
    position: relative;
    margin-bottom: -30px;
    .tns-nav {
      text-align: center;
      position: relative;
      top: -65px;

      .tns-nav-active {
        background: $blue;
      }

      button {
        background: white;
        border: none;
        border-radius: 7.5px;
        height: 15px;
        width: 15px;
        margin: 3px;

        &:first-of-type {
          left: 10%;
        }

        &:last-of-type {
          right: 10%;
        }
      }
    }
  }
}

.b-home {
  height: 480px;
  background: url("../../dist/img/banner-home-mob.png") center center no-repeat;
  background-size: cover;
  .bg-shadow {
    background: linear-gradient(
      transparent 0%,
      rgba(76, 76, 76, 0.22) 65%,
      black 100%
    );
    opacity: 0.75;
    height: 100%;
    width: 100%;
    padding-top: 25px;
  }
  .title {
    font-weight: bold;
    font-size: 39px;
    line-height: 45px;
    text-align: left;
    color: $red;
  }
  .sub {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: $brown;
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    background: url("../../dist/img/banner-home-desk.png") 50% 5% no-repeat;
    background-size: cover;
    .sub {
      font-weight: normal;
    }
    .container {
      position: relative;
      top: 25%;
      .line {
        margin-top: 21px;
        margin-bottom: 21px;
        height: 0px;
        border: 1px solid $red;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    height: 90vh;

    .title {
      font-size: 60px;
      line-height: 65px;
    }
    .sub {
      font-size: 24px;
      line-height: 28.8px;
    }
  }
}

.ensinos {
  .red,
  .blue {
    text-align: center;
    .container {
      padding-top: 36px;
      padding-bottom: 36px;
    }
    .title {
      font-weight: bold;
      font-size: 26px;
      line-height: 27px;
      color: $white;
      padding-bottom: 11px;
    }
    p {
      padding-bottom: 12px;
      margin-bottom: 0;
      color: $white;
    }
    .btn-cta {
      margin: 0 auto;
    }
  }

  .red {
    background: $red;
    .btn-cta {
      background: $blue;
    }
  }

  .blue {
    background: $blue;
    .btn-cta {
      background: $red;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    display: flex;
    max-width: 1140px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: -30px;
    .red,
    .blue {
      border-radius: 9px;

      .container {
        padding-left: 50px;
        padding-right: 50px;
        .title {
          font-size: 45px;
          line-height: 55px;
        }
        p {
          margin-bottom: 20px;
        }
      }
    }
    .red:hover,
    .blue:hover {
      .container {
        transition: 0.5s;
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.somos-anglo {
  .grid {
    padding-top: 26.5px;
    padding-bottom: 45.8px;

    .btn-cta {
      background: $red;
      margin: 0 auto;
      margin-top: 50px !important;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-bottom: 100px;
      padding-top: 69px;
      .lg-grid-right {
        .line {
          height: 2px;
          background: $red;
          margin: 15px 0;
        }
        .btn-cta {
          margin: unset;
        }
      }
      .foto-grid {
        .foto-2 {
          right: -50px;
          top: 178px;
        }
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .invisivel {
    margin-top: 100px;
  }

  .estrutura-home {
    .head {
      padding-bottom: 20px;
    }
    .wrapper {
      max-width: 1140px;
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;
      .carousel-estrutura img {
        height: 320px;
        border-radius: 9px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
      .tns-nav {
        bottom: -363px;
        position: relative;
      }
    }
  }
}

.alunos-aprovados {
  .testa {
    padding-left: 20px;
    padding-right: 20px;
    .title {
      font-weight: normal;
    }
  }
}

.eventos {
  background: $blue;
  padding-bottom: 30px;
  .btn-cta {
    margin: 0 auto;
    width: unset;
    margin-top: 30px !important;
  }
  .banner-blue {
    padding: 32px 53px;
    background: $blue;
    .title {
      font-weight: normal;
      font-size: 33px;
      line-height: 45px;
      text-align: center;
      color: $white;
    }
  }
}
