.texto-intro {
  padding-top: 53px;
  padding-bottom: 35px;
  .texto,
  .texto-material {
    .pre-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 19.2px;
      text-align: center;
      color: $blue;
      padding-bottom: 9px;
    }
    .title {
      font-weight: normal;
      font-size: 30px;
      line-height: 38.4px;
      text-align: center;
      color: $red;
    }
    .title.padding-9 {
      padding-left: 9px;
      padding-right: 9px;
    }
    .line {
      height: 3px;
      background: $red;
      display: block;
      margin: 30px auto;
    }
    .horario {
      margin-top: 25px;
      height: 68px;
      background: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        margin-right: 15px;
      }
      span {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        color: $brown;
      }
    }
  }
}

.page-colegio-meson {
  padding-bottom: 0;
  .foto-grid {
    .foto-1 {
      background: url("../../dist/img/foto1.png") center center no-repeat;
    }
    .foto-2 {
      background: url("../../dist/img/foto1.png") center center no-repeat;
    }
  }
  @media (min-width: map-get($grid-breakpoints,md)) and (max-width: map-get($grid-breakpoints, lg)) {
    .foto-grid {
      padding-bottom: 100px;
      .foto-1 {
        height: 410px;
      }
      .foto-2 {
        height: 330px;
      }
    }
  }
}

.page-sistema-anglo {
  padding-bottom: 50px;
  .foto-grid {
    .img-anglo {
      top: unset !important;
      left: 20px;
    }
    .foto-1 {
      height: unset;
    }

    .foto-2 {
      position: relative;
      top: 0 !important;
      right: 0 !important;
      height: unset !important;
      margin-top: 10px;
      border: none !important;
    }
  }
  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
    .foto-grid {
      .img-anglo {
        top: 315px;
      }
      .foto-2 {
        top: 250px;
      }
    }
  }
}

.page-ensinos {
  .container {
    display: block !important;

    .foto-grid {
      padding-bottom: 60px;

      .foto-2 {
        position: relative !important;
        height: unset !important;
        top: 0 !important;
        right: 0 !important;
        border: none !important;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
    .foto-grid {
      padding-bottom: 120px !important;
      .img-anglo {
        top: 315px;
      }
      .foto-2 {
        top: 250px;
        left: -40px;
      }
    }
  }
}

.texto-intro.blue-container {
  padding-bottom: 50px;
  padding-top: 50px;
  background: $blue;
  .line {
    background: $red;
  }
  .title,
  p,
  .pre-title {
    color: $white;
  }
}

.conheca-equipe {
  .conteudo {
    padding-top: 15px;
    padding-bottom: 60px;
    text-align: center;
    .wrapper {
      margin-top: 20px;
      .carousel-equipe {
        position: relative;
        left: 35px;
        .item {
          img {
            height: 300px;
            border-radius: 10px;
            margin-bottom: 20px;
          }
          .name {
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            color: $red;
            padding-bottom: 5px;
          }
          .funcao {
            font-size: 16px;
            line-height: 24px;
            color: $brown;
          }
        }
      }
    }
  }
}

.unidades {
  .testa {
    padding-left: 20px;
    padding-right: 20px;
  }
  .faculdades {
    padding-top: 27px;
    p {
      margin-bottom: 42px;
    }
    .box-logos {
      margin: 0 auto;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      img {
        margin-bottom: 20px;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    background: #f0f0f0;
    .faculdades {
      text-align: center;
      .box-logos {
        div {
          justify-content: space-around;
          flex-direction: row;
          align-items: center !important;
        }
      }
    }
  }
}

.metodologia {
  padding-top: 55px;
  padding-bottom: 61px;
  background: #f0f0f0;
  .wrapper {
    margin-top: 23px;
    .carousel-metodologia {
      .item {
        height: 300px;
        border-radius: 6px;
        background: $red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text {
          display: block;
          margin-top: 15px;
          font-weight: normal;
          font-size: 24px;
          line-height: 28.8px;
          text-align: center;
          color: $white;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }
}

.sistema-anglo {
  padding-top: 42px;
  padding-bottom: 51px;
  background: $red;
  text-align: center;
  img {
    width: 100%;
    margin-bottom: 40px;
  }
  .item {
    margin: 0 auto;
    .text {
      font-size: 24px;
      line-height: 28.8px;
      text-align: center;
      color: $white;
    }
    .line {
      height: 0px;
      width: 111.68px;
      background: transparent;
      border: 1px solid #fff;
      margin: 20px auto;
    }
  }
}

@media (min-width: map-get($grid-breakpoints,lg )) {
  .texto-intro {
    .container {
      display: flex;
      justify-content: space-between;

      .texto {
        padding-right: 60px !important;
      }
      .texto,
      .texto-material {
        .title {
          text-align: left;
        }
        .line {
          margin-left: 0;
        }
      }
    }
  }
  .page-colegio-meson {
    padding-bottom: 0;
    .foto-grid {
      .img-anglo {
        top: 15px;
        left: -112px;
      }
      .foto-1 {
        background: url("../../dist/img/foto1.png") center center no-repeat;
        background-size: cover;
        height: 406px;
      }
      .foto-2 {
        background: url("../../dist/img/foto1.png") center center no-repeat;
        background-size: cover;
        height: 296px;
        top: 331px;
        right: -40px;
      }
      .foto-3 {
        background: url("../../dist/img/foto1.png") center center no-repeat;
        background-size: cover;
        border: 13px solid $white;
        position: absolute;
        bottom: 0px;
        left: -33px;
        height: 238px;
      }
    }
  }
  .conheca-equipe {
    padding-bottom: 40px;
    .title {
      font-weight: bold;
    }
    .conteudo p {
      padding-bottom: 40px;
      padding-top: 20px;
      margin: 0;
    }
    .carousel-equipe {
      left: unset !important;
      .item {
        img {
          height: 260px !important;
        }
      }
    }
  }
  .page-sistema-anglo {
    padding-bottom: 35px;
    .foto-grid {
      padding-bottom: 0;
      .foto-1 {
        height: 330px;
        padding-right: 30px;
      }
      .foto-2 {
        top: unset;
        height: unset;
        bottom: 30px;
        right: -10px;
      }
      .img-anglo {
        position: absolute;

        z-index: 5;
        top: 29px;
        left: -130px;
      }
    }
  }
  .metodologia {
    padding-bottom: 125px;
    p {
      margin-bottom: 40px;
    }
    .carousel-metodologia {
      .item {
        height: 260px !important;
        .text {
          padding-left: 25px !important;
          padding-right: 25px !important;
          font-size: 18px !important;
          line-height: 20px !important;
        }
      }
    }
  }
  .sistema-anglo {
    padding-top: 75px;
    padding-bottom: 79px;
    margin-bottom: 65px;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .img-anglo {
        // height: 200px;
        margin-bottom: 0;
        position: absolute;
      }
      .line {
        height: 70px;
        width: 1px;
        background: white;
      }
      .itens {
        justify-content: space-between;
        align-items: center;
        display: flex;
        position: absolute;
        right: 30px;
        .item {
          margin: 0;
          .line {
            display: none;
          }
        }
      }
    }
  }
  .page-ensinos {
    padding-bottom: 60px;

    .foto-ensino-fund {
      background: url("../../dist/img/foto-fundamental.jpg") 45% no-repeat;
    }

    .foto-ensino-medio {
      background: url("../../dist/img/foto-medio.jpg") 38% 10% no-repeat;
    }
    .left {
      .foto-2 {
        left: unset;
        right: 15px;
        height: unset;
        top: unset;
        bottom: -15px;
      }
    }
  }
  .pre-title {
    text-align: left !important;
  }
  .blue-container {
    .container {
      display: block !important;
    }
    .foto-grid {
      .fund-2-img {
        height: 85%;
      }
      .foto-2 {
        height: unset;
        top: unset;
        bottom: 0;
        border-color: $blue;
      }
    }
    .foto-ensino-fund-2 {
      background: url("../../dist/img/foto-fundamental-2.jpg") 60% no-repeat;
    }
    .horario {
      img {
        filter: brightness(0) invert(1);
      }
      span {
        color: $white !important;
      }
    }
  }
  .horario {
    background: none !important;
    justify-content: start !important;
  }
}
