@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$red: #e0001b;
$white: white;
$brown: #212121;
$blue: #02518a;
html {
  scroll-behavior: smooth;
}
* {
  outline: 0;
}
body {
  font-family: "Lato", sans-serif;
  span {
    display: block;
  }
}

img {
  @extend .img-fluid;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

.container {
  padding: 0 30px;
}

p {
  color: $brown;
  line-height: 24px;
  font-size: 16px;
}

.foto-grid {
  position: relative;
  padding-bottom: 20px;
  .img-anglo {
    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
      position: absolute;
      top: -55px;
      z-index: 5;
    }
  }
  .foto-1 {
    height: 180px;
    background-size: cover !important;
  }
  .foto-2 {
    background-size: cover !important;
    border: 13px solid $white;
    position: absolute;
    right: -15px;
    top: 80px;
    background: $white;
    height: 150px;
    overflow: hidden;
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    padding-bottom: 155px;
    .foto-2 {
      top: 200px;
      height: unset;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-bottom: unset;
  }
}

.foto-grid.left {
  .img-anglo {
    left: unset;
    right: 5px;
    z-index: 5;
  }

  .foto-2 {
    right: unset;
    left: -20px;
  }
}
.position-texto {
  @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
    position: absolute;
    bottom: 0;
  }
}
.estrutura {
  text-align: center;
  background: $red;
  padding-bottom: 82px;
  position: relative;
  .head {
    position: relative;
    padding: 41px 20px;
    .title {
      font-size: 27px;
      line-height: 37px;
      color: $white;
    }
    .line {
      height: 2px;
      background: $white;
      width: 100%;
      position: absolute;
      bottom: 20px;
      left: 0;
    }
  }
  .tns-nav {
    position: absolute;
    bottom: 40px;
    width: 100%;
    justify-content: center;
    display: flex;
    button {
      border: none;
      outline: none;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin: 3px;
      opacity: 0.7;
      background: $white;
    }
    .tns-nav-active {
      opacity: 1;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .title {
      font-size: 45px !important;
      line-height: 50px !important;
    }
    .wrapper-gallery {
      .tns-nav {
        justify-content: center;
        display: flex;
        position: relative;
        margin-top: 30px;
        // bottom: -550px;
      }
    }
  }
}

.testa {
  border-bottom: 3px solid $red;
  padding: 55px 40px 26px 40px;
  .title {
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: $red;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    text-align: center;
    .title {
      font-size: 45px;
      line-height: 50px;
    }
    span {
      display: inline;
    }
  }
}

.btn-cta {
  height: 33px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $white;
    transform: scale(1.02);
  }
}

.btn-login {
  height: 26px;
  border-radius: 3px;
  background: #02518a;
  font-weight: bold;
  font-size: 15px !important;
  color: $white;
  display: flex;
  align-items: center;
  padding: 10px !important;
  img {
    margin-left: 10px;
    position: relative;
    top: 2px;
  }
}

.whats-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background: #188a0e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  i {
    font-size: 27px;
    color: #fff;
  }
}
.paginacao {
  margin-top: 49px;
  .barradenavegacao {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      li {
        display: none;
        font-size: 22px;
        color: $brown;
        margin-left: 15px;
        margin-right: 15px;
        &:nth-child(1) {
          display: initial;
          margin-left: 0;
        }
        &:nth-last-child(1) {
          display: initial;
        }
        .current {
          color: $blue;
        }

        a {
          color: $red;
        }
        .next,
        .prev {
          font-size: 30px;
          display: initial;
        }
        @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) {
          display: initial;
        }
      }
    }
  }
}
@import "paginas-internas";
@import "footer";
@import "header";
@import "home";
@import "alunos";
@import "eventos";
